.dealers_hand, .players_hand{
    display: grid;
    background-color: lightgreen;
    border: 2px solid #995b37;
    box-shadow: 5px 5px 5px grey;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    grid-column-gap: 10px;
    width: 850px;
    margin: auto; 
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    height: 182.5px;
    width: 120px;
  }
  #btngroup
  {
     margin: 20px;
  }
  .et_pb_button {
    display: inline-block;
    margin: 15px; /* space between buttons */
    border: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(216, 219, 219);
    font-size: 20px;
    color: black;
    border-radius: 10px;
}